@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* global.css */
html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Optional: animate whole page with View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.25s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: var(--background-light);
  color: var(--text-light);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
