---
const carbon_components = [
  "https://github.com/freeCodeCamp/freeCodeCamp/pull/62576",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2945",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2939",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2789",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2764",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2748",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2741",
  "https://github.com/carbon-design-system/carbon-components-angular/pull/2740",
];
---

<section>
  <h2 class="text-xl sm:text-2xl font-semibold mb-4">
    Open Source Contributions
  </h2>
  <ul class="space-y-3">
    {
      carbon_components.map((url) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-green-600 hover:underline break-all"
          >
            {url}
          </a>
        </li>
      ))
    }
  </ul>
</section>
