---
const Projects_List = [
  {
    name: "bookbot - Python",
    description:
      "A Python project designed to efficiently process and analyze text files, providing insights and statistics from textual data.",
    link: "https://github.com/abiramcodes/bookbot",
  },
  {
    name: "mini-url - Angular",
    description:
      "A user interface project for generating shortened URLs, developed as part of coding challenges by John Crickett.",
    link: "https://github.com/abiramcodes/mini-url-frontEnd",
  },
];
---

<section>
  <div class="w-full max-w-2xl mx-auto px-4 sm:px-0">
    <div class="flex flex-col sm:flex-row sm:flex-wrap gap-6 justify-between">
      {
        Projects_List.map((project) => (
          <div class="w-full sm:w-[48%] md:w-[48%] lg:w-[46%] p-4 border rounded-md">
            <h2 class="text-base sm:text-lg uppercase font-semibold mb-2">
              {project.name}
            </h2>
            <p class="mb-2 text-sm sm:text-base text-secondary-light dark:text-secondary-dark">
              {project.description}
            </p>
            <a
              href={project.link}
              target="_blank"
              rel="noopener"
              class="text-green-600 text-sm sm:text-base"
            >
              GitHub - 🔗
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
